$container-width: 1200px;

// Colors
$main-color-1: #fce38a;
$main-color-2: #f38181;
$main-color-3: #95e1d3;
$text-color-light: #fff;
$text-color-dark: #333;
$main-text-color: #999;
$footer-border-color: #e5e5e5;
$input-border-color: #e7e7e7;
$input-placeholder-color: #ccc;

// Fonts
$base-font-size: 14px;
$title-font-family: 'Montserrat', sans-serif;
$accent-title-font-family: 'Kaushan Script', cursive;
$main-font-family: 'Roboto', sans-serif;
